<div id="hero-detailed" class="row">
    <div class="col-md-4">
        <img src="{{imageUrl}}" alt="hero-image" class="hero-image"/><br>

        <h2>{{name}}</h2>

        <p>
            Attack points: {{attackPoints}}
        </p>

        <p>
            Defense points: {{defensePoints}}
        </p>

        <p>
            Life: {{lifePoints}}
        </p>
        <p>
            <a href="#/heroes/{{id}}/store" class="btn btn-md btn-default">Store</a>
            <a href="#/heroes/{{id}}/inventory" class="btn btn-md btn-default">Inventory</a>
        </p>
    </div>
</div>