<div id="store">
    {{#items}}
    <div class="col-md-3">
        <h3>{{name}}</h3>

        <p>
            Type: {{type.name}}
        </p>

        <p>
            Attack points: {{attackPoints}}
        </p>

        <p>
            Defense points: {{defensePoints}}
        </p>

        <p>
            Life points: {{lifePoints}}
        </p>
        <p>
            <button class="buy btn btn-md btn-default" data-id="{{_id}}" data-type="{{type.name}}">Buy</button>
        </p>
    </div>
    {{/items}}
</div>